<main class="contenedor">
    <form action="/crear-cuenta" method="POST" class="default-form">
        <div class="campo">
            <label for="nombre">Nombre</label>
            <input type="text" name="nombre" placeholder="Tu Nombre">
        </div>

        <div class="campo">
            <label for="email">Email</label>
            <input type="email" name="email" placeholder="Tu email">
        </div>

        <div class="campo">
            <label for="password">Password</label>
            <input type="password" name="password" placeholder="Tu password">
        </div>

        <div class="campo">
            <label for="repetir_password">Repetir Password</label>
            <input type="password" name="repetir_password" placeholder="Repetir Password">
        </div>

        <div class="campo acciones">
            <a href="/iniciar-sesion">Iniciar Sesion</a>
        </div>

        <div class="campo">
            <input type="submit" value="Crear Cuenta" class="btn btn-azul">
        </div>
    </form>
</main>