<div class="contenedor">
    <form method="POST" class="default-form">
        <div class="campo">
            <label for="password">password</label>
            <input type="password" name="password" placeholder="Password" required>
        </div>

        <div class="campo">
            <input type="submit" value="Guardar password" class="btn btn-azul">
        </div>
    </form>
</div>