<div class="contenedor">
    <form action="/reestablecer-password" method="POST" class="default-form">
        <div class="campo">
            <label for="email">Email</label>
            <input type="email" name="email" placeholder="Email">
        </div>

        <div class="campo acciones">
            <a href="/iniciar-sesion">Volver a Iniciar Sesion</a>
        </div>

        <div class="campo">
            <input type="submit" value="Reestablecer password" class="btn btn-azul">
        </div>
    </form>
</div>